---
---

@import "{{ site.theme }}";

.navigation h1 {
  font-size:14px;
  float:none;
	margin-bottom: 12px;
}

.navigation li {
 width:100%;
//   width: auto;
 text-align: left;
  border: none;
  height: 35px;
//   height: auto;
}

.navigation ul li:last-child {
	margin-bottom: 6px;
}

.navigation a {
	text-align: left;
}

.navigation ul {
	border: none;
	background: none;
}

footer a:hover {
	font-weight: normal;
}
