---
---

@import "{{ site.theme }}";

.topnav input[type=text]  {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
}


.navigation h1 {
  font-size:14px;
  float:none;
	margin-bottom: 6px;
}

.navigation li {


  width: 100%;
  text-align: left;
  border: none;
  height: 25px;
}

.navigation ul li:last-child {
	margin-bottom: 12px;
}

.navigation a {
	text-align: left;
	width: 100%;
}

.navigation ul {
	border: none;
	background: none;
}

.search {
  margin: 20px 0 20px
}

footer a:hover {
	font-weight: normal;
}

footer {
  position: unset
}

header {
  position: unset
}
