---
---

@import "{{ site.theme }}";

.navigation h1 {
  font-size:14px;
  float:none;
	margin-bottom: 12px;
}

.navigation li {
  width:100%;
  text-align: left;
  border: none;
	height: 25px;
}

.navigation a {
	text-align: left;
}

.navigation ul {
	border: none;
	background: none;
	margin-bottom: 20px;
}
