---
---

@import "{{ site.theme }}";

// Google Fonts Barlow
@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed&display=swap');

body {
  font-family: 'Barlow', Helvetica, Arial, sans-serif;
}

body h1,h2,h3,h4,h5,h6 {
  font-family: 'Barlow Semi Condensed', Helvetica, Arial, sans-serif;
}

.topnav input[type=text]  {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
}


.navigation h1 {
  font-size:14px;
	margin-bottom: 10px;
}

.navigation ul li:last-child {
	margin-bottom: 12px;
}

.navigation a {
	text-align: left;
	width: 100%;
}

.navigation ul {
	border: none;
	background: none;
  list-style-type: none;
  padding-inline-start: 20px;
}

.navigation ul li {
	height: auto;
  margin-bottom: 5px;
}

.search {
  margin: 20px 0 20px
}

footer a:hover {
	font-weight: normal;
}

footer {
  position: unset
}

header {
  position: unset
}
